ul>li>a{
    color: black;
    text-decoration: none;
}

aside { 
    width: 20%;
    padding-left: 15px;
    margin-left: 0; 
    float: left;
}

nav > ul > li > a:hover{
    font-size: 17px;
    color: rgb(154,0,38);
    font-weight: bold;
}
nav >ul > li:hover {
    background-color:rgb(187, 180, 180);
}
ul > li > a.active {
    font-weight: bold;
}
@media screen and (max-width: 575px) {
    aside {
        width: 100%;
        padding: 0%;
    }
    nav > ul {
        padding: 0%;
        width: 100%;
    }
    nav > ul > li {
        background-color: #f5f5f5;
        padding: 5px;
        border-style: groove;
        text-align: center;  
    }
    nav > ul > li > a {
        display: block;  
        width: 100%; 
        height: 100%;
        padding: 10px 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    aside {
        width: 100%;
        padding: 0%;
    }
    nav > ul {
        padding: 0%;
        width: 100%;
    }
    nav > ul > li {
        background-color: #f5f5f5;
        padding: 5px;
        border-style: groove;
        text-align: center;  
    }
    nav > ul > li > a {
        display: block;  
        width: 100%;  
        height: 100%; 
        padding: 10px 0; 
    }
}
