

main {
    display: flex;
    align-items: flex-start; 
}
h1 {
    margin-left: auto; 
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

.checkboxstyle {
    width: 40px;
}

.groupstyle {
    width: 100px;
}

.namestyle {
    width: 150px;
}

.genderstyle {
    width: 80px;
}

.birthstyle {
    width: 120px;
}

.statstyle {
    width: 50px;
    text-align: center;
}

.optionstyle {
    width: 100px;
    text-align: center;
}

/*.menu {
    display: flex;
    justify-content: space-between; 
    background-color: rgb(154,0,38);
    padding: 10px;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    flex-wrap: nowrap;
}

.left-icons {
    display: flex;
    align-items: center;
    flex: 1;
}

.left-icons img {
    width: 30px;
    height: auto;
}

.right-icons {
    display: flex;
    gap: 10px; 
    align-items: center;
    flex-shrink: 0;
}

.right-icons img {
    width: 30px; 
    height: auto;
    object-fit: contain; 
}
.userInfo{
display: flex;
align-items: center;
gap: 5px;
}

.userInfo p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px; 
}
*/
main {
    padding-top: 60px; 
}
.editbutton img{
    width: 20px; 
    height: auto;
}

.editbutton{
    display: flex;
    gap: 20px; 
    justify-content: center;
}

.addnew img{
    width: 30px; 
    height: auto;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    flex-grow: 1;
}

.addnew {
    margin-bottom: 10px; 
}

.pagination {
    margin-top: 20px;
    display: flex;
    gap: 5px; 
    justify-content: center; 
    align-items: center;
    align-self: flex-end;
}

.pagination button {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
}

.pagination button:hover {
    background-color: lightgray;
}

.pagination .active {
    font-weight: bold;
    background-color: lightblue;
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.modal.active {
    display: block;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.overlay.active {
    display: block;
}
.modal input, .modal select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}
.modal-buttons {
    text-align: right;
}
.modal-buttons button {
    padding: 5px 10px;
}

.warningModal{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.warningModal-buttons {
    padding-top: 25px;
    text-align: right;
}
.warningModal-buttons button {
    padding: 5px 10px;
}
.warningModal.active {
    display: block;
}
.useraccount{
    width: 120px;
    position: absolute;
    z-index: 1000;
    display: none;
    justify-self: end;
    background-color: #f5f5f5;
    top: 50px;
    right: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.useraccount>ul{
    list-style-type:none;
    padding-left: 5%;
}
.useraccount>ul>li:hover{
    background-color: rgb(187, 180, 180);
}

.useraccount.active{
    display: block;
}

/* Для середніх екранів (768px - 1199px) */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    aside {
        width: 25%;
    }
    .content {
        width: 70%;
    }
    .table-container {
        overflow-x: auto; 
    }
}

/* Для планшетів і маленьких ноутбуків (576px - 767px) */
@media screen and (max-width: 767px) and (min-width: 576px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 100%;
        text-align: center;
    }
    .content {
        width: 90%;
    }
    table {
        font-size: 14px; 
    }
    .editbutton img {
        width: 15px; 
    }

}

/* Для телефонів (до 575px) */
@media screen and (max-width: 575px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 100%;
        text-align: center;
    }
    .content {
        width: 100%;
        padding: 10px;
    }
    table {
        font-size: 10px; 
    }
    .pagination {
        flex-wrap: wrap;
    }
}