

main {
    display: flex;
    align-items: flex-start; 
}
h1 {
    margin-left: auto; 
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f5f5f5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.checkboxstyle {
    width: 40px;
}

.groupstyle {
    width: 100px;
}

.namestyle {
    width: 150px;
}

.genderstyle {
    width: 80px;
}

.birthstyle {
    width: 120px;
}

.statstyle {
    width: 50px;
    text-align: center;
}

.optionstyle {
    width: 100px;
    text-align: center;
}

main {
    padding-top: 60px; 
}
.editbutton img{
    width: 15px; 
    height: 15px;
}
.edit:hover{
    width: 20px;
    height: auto;
}
.trash:hover{
    width: 20px;
    height: auto;
}

.editbutton{
    display: flex;
    gap: 20px; 
    justify-content: center;
}

.addnew img{
    width: 30px; 
    height: auto;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    flex-grow: 1;
}

.addnew {
    margin-bottom: 10px; 
}

.pagination {
    margin-top: 20px;
    display: flex;
    gap: 5px; 
    justify-content: center; 
    align-items: center;
    align-self: flex-end;
}

.pagination button {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
}

.pagination button:hover {
    background-color: lightgray;
}

.pagination .active {
    font-weight: bold;
    background-color: lightblue;
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.modal.active {
    display: block;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.overlay.active {
    display: block;
}
.closeMod{
    display: flex;
    width: 25px;
    height: 25px;
    justify-self: end;
}
.modal input, .modal select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0%;
}
.modal-buttons {
    text-align: right;
    padding: 10px 10px;

}
.modal-buttons button {
    padding: 5px 10px;
}
.error-span{
    color: red;
    font-size: 13px;
}
#error-span-surname{
    visibility: hidden;
}
#error-span-name{
    visibility: hidden;
}
#error-span-group{
    visibility: hidden;
}
#error-span-gender{
    visibility: hidden;
}
#error-span-date{
    visibility: hidden;
}
.warningModal{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.warningModal-buttons {
    padding-top: 25px;
    text-align: right;
}
.warningModal-buttons button {
    padding: 5px 10px;
}
.warningModal p{
    font-size: 25px;
    margin-bottom: 0%;
}
.warningModal.active {
    display: block;
}

/* Для середніх екранів (768px - 1199px) */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    aside {
        width: 25%;
    }
    .content {
        width: 70%;
    }
    .table-container {
        overflow-x: auto; 
    }
}

/* Для планшетів і маленьких ноутбуків (576px - 767px) */
@media screen and (max-width: 767px) and (min-width: 576px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 100%;
        text-align: center;
    }
    .content {
        width: 90%;
    }
    table {
        font-size: 15px; 
    }
    .editbutton img {
        width: 15px; 
    }

    .container {
        width: 100%;
        max-width: 100%; 
        overflow-x: auto; 
    }
    
    table {
        min-width: 800px;
    }
}

/* Для телефонів (до 575px) */
@media screen and (max-width: 575px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 100%;
        text-align: center;
    }
    .content {
        width: 100%;
        padding: 10px;
    }
    
    .pagination {
        flex-wrap: wrap;
    }
    .modal {
        width: 300px;
        font-size: 15px;
        padding-left: 10px;
    }
    .modal input, .modal select {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        size: 5px;
    }
    .modal-buttons button{
        font-size: 12px;
    }

    .warningModal{
        width: 200px;       
    }
    .warningModal-buttons {
        padding-top: 25px;
        text-align: right;
    }
    .warningModal-buttons button {
        padding: 5px 10px;
    }

    .container {
        width: 100%;
        max-width: 100%; 
        overflow-x: auto; 
    }
    
    table {
        min-width: 800px;
    }
}